body{
    background-color: #e0e0e0;
}

p{
    font-family: sans-serif;
    color: #606060;
}

.contour{
    display: inline-block;
    position: relative;
    top: 150px;
    left: 300px;
    width: 790px;
    height: 480px;
    background-color: white;
    box-shadow: 5px 5px 15px 3px #8a8a8a;
}

.text{
    top: 55px;
    display: inline-block;
    position: relative;
    border-right: 2px solid #606060;
    width: 300px;
    padding: 80px;
    height: 210px;
}

.petitCarre{
    display: inline-block;
    position: relative;
    border: 2px solid #606060;
    width: 100px;
    height: 130px;
    top: -80px;
    right: -190px;
}

.ligne{
    bottom: 40px;
    display: inline-block;
    position: relative;
}

.l1{
    position: relative;
    left: 480px;
    bottom: 50px;
    border-bottom: 2px solid #606060;
    width: 270px;
}

.l2{
    position: relative;
    left: 480px;
    bottom: 0;
    border-bottom: 2px solid #606060;
    width: 270px;
}

.l3{
    position: relative;
    left: 480px;
    bottom: -50px;
    border-bottom: 2px solid #606060;
    width: 270px;
}

.l4{
    position: relative;
    left: 570px;
    bottom: -64px;
    border-bottom: 2px solid #606060;
    width: 178px;
}

.c1{
    display: inline-block;
    position: relative;
    border: 1px solid #606060;
    width: 12px;
    height: 25px;
    left: 480px;
    bottom: -68px;
}

.c2{
    display: inline-block;
    position: relative;
    border: 1px solid #606060;
    width: 12px;
    height: 25px;
    left: 480px;
    bottom: -68px;
}

.c3{
    display: inline-block;
    position: relative;
    border: 1px solid #606060;
    width: 12px;
    height: 25px;
    left: 480px;
    bottom: -68px;
}

.c4{
    display: inline-block;
    position: relative;
    border: 1px solid #606060;
    width: 12px;
    height: 25px;
    left: 480px;
    bottom: -68px;
}

.c5{
    display: inline-block;
    position: relative;
    border: 1px solid #606060;
    width: 12px;
    height: 25px;
    left: 480px;
    bottom: -68px;
}